/* Variables de colores */
:root {
    --color-primary: #007bff; /* Azul principal */
    --color-primary-hover: #1282f9; /* Azul claro para hover */
    --color-primary-active: #0056b3; /* Azul más oscuro para active */
    --color-secondary: #dee2e69c; /* Gris para el fondo de la sidebar */
    --color-background: #f8f9fa; /* Fondo claro */
    --color-text: #495057; /* Color de texto general */
    --color-border: #ced4da; /* Color de borde */
    --color-warning: red; /* Color rojo para advertencias o botones */
    --color-lupa: #007bff; /* Color de la lupa */
    --color-lupa-hover: #1282f9; /* Color de la lupa en hover */
    --color-lupa-active: #0056b3; /* Color de la lupa en active */
}

/* Dashboard panel derecho*/

.dashboard-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon-container {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-link {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 12px;
    background-color: #6c757d;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 14px;
}

.icon-link[data-color="blue"] {
    background-color: #007bff;
}
.icon-link[data-color="green"] {
    background-color: #28a745;
}
.icon-link[data-color="yellow"] {
    background-color: #ffc107;
}
.icon-link[data-color="purple"] {
    background-color: #6f42c1;
}

.icon-link i {
    font-size: 24px;
    margin-bottom: 5px;
}

.icon-link:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.icon-link p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

/** Fin dashboard panel derecho**/

/* Layout */
.container-fluid {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
}

/* Sidebar */
#sidebar {
    position: sticky !important;
    top: 0 !important;
    height: 100vh;
    background-color: var(--color-secondary);
    transition: width 0.3s;
    position: relative;
}

.sidebar {
    width: auto;
    height: 100vh;
    background-color: var(--color-secondary);
    transition: width 0.3s;
    position: relative;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar h3 {
    background: #ced4da;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    margin: 0px 0px 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.sidebar.collapsed h3 {
    opacity: 0;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.sidebar .toggle-btn::after {
    content: "«";
    font-weight: bold;
    transform: translateY(-10%);
}

.sidebar.collapsed .toggle-btn::after {
    content: "»";
}

.sidebar ul {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 0px 10px 10px 10px;
}

.sidebar.collapsed ul li {
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    transition: opacity 0.3s;
}

.sidebar ul li a .icon {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar.collapsed ul li a .text {
    display: none;
}

.sidebar.collapsed ul li a .icon {
    margin-right: 0;
}

/* Main Content */
.main-content {
    background: #f8f9fa;
    flex: 1;
    /* padding: 20px;*/
}

.h1,
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.logout-button {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.logout-button i {
    font-size: 20px;
    margin-right: 8px;
    color: var(--color-warning);
}

/* Estilo para el label */
.custom-label {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 10px;
}

/* Estilo para el select */
.custom-select {
    width: auto;
    font-size: 1rem;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    transition: border-color 0.3s, background-color 0.3s;
}

/* Efecto al enfocarse en el select */
.custom-select:focus {
    border-color: var(--color-primary);
    background-color: #e9ecef;
    box-shadow: 0 0 5px rgba(38, 143, 255, 0.5);
}

/* Estilo para el botón */
.custom-btn {
    margin: 5px;
    color: var(--color-primary);
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
}

/* Efecto hover para el botón */
.custom-btn:hover {
    color: var(--color-primary-hover);
    transform: scale(1.15);
}

/* Efecto al hacer click en el botón */
.custom-btn:active {
    transform: scale(0.98);
}

/* Agregar espaciado en el botón con el ícono */
.custom-btn i {
    margin-right: 8px;
}

/* Estilo para la fila (columna 1) y columna del botón */
.form-row {
    margin-bottom: 15px;
}

/* Alineación del botón a la derecha */
.d-flex.justify-content-end {
    align-items: center;
}

/* Estilo para el campo de select cuando no está seleccionado */
.custom-select option {
    color: var(--color-text);
}

/* Personalización de la lupa */
.custom-btn i {
    font-size: 1.3rem;
    color: var(--color-lupa);
}

.custom-btn:hover i {
    color: var(--color-lupa-hover);
}

.custom-btn:active i {
    color: var(--color-lupa-active);
}

/******* publicaciones******/
.img-container {
    width: 100px; /* Tamaño fijo del contenedor */
    height: 100px; /* Tamaño fijo del contenedor */
    overflow: hidden; /* Evita que el contenido se salga del contenedor */
    border-radius: 10px; /* Esquinas redondeadas (opcional) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Efecto al contenedor */
}

.img-container:hover {
    transform: scale(1.05); /* Hace un zoom suave al contenedor */
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    transition: transform 0.3s ease; /* Efecto de zoom en la imagen */
}

.img-container:hover .img-fluid {
    transform: scale(1.2); /* Zoom suave en la imagen */
}

.spanid {
    color: #007bff;
    font-weight: bold;
    font-size: 12px;
}

.table > thead {
    vertical-align: middle;
    text-align: center;
    background: #ced4da;
}

th.ascending::after {
    content: "▲";
    font-size: 12px;
    margin-left: 5px;
}

th.descending::after {
    line-height: 20px !important;
    content: "▼";
    font-size: 12px;
    margin-left: 5px;
}

th[data-sortable="true"] {
    cursor: pointer;
}

th[data-sortable="true"]:hover {
    text-decoration: underline;
    color: #007bff; /* Cambia a un color de enlace, como azul */
}

/* Estilos personalizados */
.filtros-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.img-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

#publicationsTable td {
    font-size: 1rem; /* Tamaño base */
    overflow: hidden; /* Oculta cualquier desborde */
    min-width: 50px;
}

#publicationsTable td.shrink-text {
    font-size: calc(
        0.7rem + 0.2vw
    ); /* Ajusta dinámicamente el tamaño de la fuente */
}

.table-responsive {
    overflow-x: visible;
}

.table th {
    background-color: #343a40;
    font-size: calc(0.7rem + 0.1vw);
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Ajustar el ancho de la columna que se está arrastrando */
.dt-reorder-float {
    max-width: 200px !important; /* Ajusta este valor según sea necesario */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Ajustar el z-index para que la columna flotante no interfiera con otros elementos */
.dt-column-reordering .dt-reorder-float {
    z-index: 1000;
}

table.dataTable thead th,table.dataTable thead td {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 150px;
}

.pagination {
    justify-content: center;
}


@media (max-width: 767px) {
    /* Colapsamos la barra lateral por defecto */
    .sidebar {
        width: 50px; /* Solo se mostrarán los iconos */
    }
    .sidebar ul li {
        padding: 0px; /* Ocultamos el texto */
    }
    /* Ocultamos el texto y mostramos solo los iconos */
    .sidebar ul li a .text {
        display: none; /* Ocultamos el texto */
    }

    .sidebar ul li a .icon {
        margin-right: 0; /* Alineamos solo los iconos sin texto */
    }
    .sidebar .toggle-btn {
        display: none; /* No mostramos el botón en móviles */
    }
    .sidebar h3 {
        background: #ced4da;
        text-align: center;
        padding: 10px 0 0 0;
        font-size: 15px;
        margin: 0px 0px 0;
        transition: opacity 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    table {
        font-size: 12px; /* Reducir el tamaño de la fuente para que quepa todo */
    }

    #publicationsTable th:nth-child(1),  /* Usuario en cabecera */
    #publicationsTable td:nth-child(1),  /* Usuario en filas de datos */
    #publicationsTable th:nth-child(5),  /* Condición en cabecera */
    #publicationsTable td:nth-child(5),  /* Condición en filas de datos */
    #publicationsTable th:nth-child(7),  /* SKU en cabecera */
    #publicationsTable td:nth-child(7),  /* SKU en filas de datos */
    #publicationsTable th:nth-child(8),  /* Otra columna en cabecera */
    #publicationsTable td:nth-child(8) { /* Otra columna en filas de datos */
        display: none;
    }


    /* Hacer que el contenido de la tabla se ajuste */
    #publicationsTable td {
        padding: 5px;
        text-align: left;
    }

    /* Hacer los encabezados más pequeños y ajustados */
    #publicationsTable th {
        font-size: 11px;
        padding: 5px;
    }

    /* ocultar columnas en consolidado de ventas */

    #orderTable th:nth-child(1),  /* Cuenta en cabecera */
    #orderTable td:nth-child(1),  /* Cuenta en filas */
    #orderTable th:nth-child(3),  /* Producto en cabecera */
    #orderTable td:nth-child(3),  /* Producto en filas */
    #orderTable th:nth-child(4),  /* SKU en cabecera */
    #orderTable td:nth-child(4),  /* SKU en filas */
    #orderTable th:nth-child(10), /* Estado de la Orden en cabecera */
    #orderTable td:nth-child(10), /* Estado de la Orden en filas */
    #orderTable th:nth-child(11), /* Estado de la Publicación en cabecera */
    #orderTable td:nth-child(11)  /* Estado de la Publicación en filas */
    {
        display: none;
    }

    /* Opcional: puedes cambiar la presentación de la tabla a una vista de lista */
    /* #publicationsTable {
        display: block;
        overflow-x: auto;
    }

    .table > thead {
        display: none;
    }

    #publicationsTable {
        display: block;
        width: 100% !important;
        table-layout: fixed !important;
        overflow: hidden;
    }

    #publicationsTable tbody {
        display: block;
    }

    #publicationsTable tr {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        padding: 0px;
        background-color: #f9f9f9;
    }

    #publicationsTable th {
        display: none;
    }

    #publicationsTable td {
        display: flex;
        width: 100% !important;
        padding: 8px;
        font-size: 14px;
        border: none;
        text-align: center;
        align-items: center;
        word-wrap: break-word;
        flex-direction: column;
    } */


    /* Estilo de cada tarjeta */
    /* #publicationsTable td span {
        font-weight: bold;
    } */

    /* Ajuste de imagen */
    /* #publicationsTable td img {
        max-width: 100%;
        height: auto;
    } */

    /* Deshabilitar estilos de DataTables */
    /* .dataTables_wrapper {
        all: unset !important;
    } */
}

